/* Add your styles here */

.app-logo {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin-inline-start: var(--vaadin-padding-inline-container);
}

.app-name {
    font-weight: var(--aura-font-weight-semibold);
    font-size: var(--aura-font-size-l);
}

.app-footer {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
}

/* TODO: This is only for demo purposes. You can delete it. */
vaadin-side-nav:has(vaadin-side-nav-item:only-child)::after {
    display: block;
    content: "More menu items will appear here when you add more views.";
    font-size: var(--aura-font-size-s);
    color: var(--vaadin-text-color-secondary);
    box-sizing: border-box;
    padding: 1em;
    max-width: 14em;
    min-width: 100%;
    white-space: normal;
}

vaadin-grid::part(row-completed) {
    background-color: #f0fdf4 !important;
    color: #14532d;
}

vaadin-grid::part(row-sent-back-pm) {
    background-color: #fef2f2 !important;
    color: #991b1b;
}

vaadin-grid::part(row-sent-back-sm) {
    background-color: #fff7ed !important;
    color: #9a3412;
}

vaadin-grid::part(row-development) {
    background-color: #f0f9ff !important;
    color: #0369a1;
}